repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: uvx ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uvx ruff format
        language: system
        types: [python]
      - id: ty-check
        name: ty-check
        entry: uvx ty check
        language: system
        types: [python]
  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.20.0
    hooks:
      - id: zizmor
