name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Set up uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --extra optuna

      - name: Format code
        run: uvx ruff format -- src

      - name: Sort imports
        run: uvx ruff check --fix --select=I,UP -- src

      - name: Ensure working tree is clean
        run: git diff --exit-code

      - name: Run tests
        run: uv run --extra optuna pytest
